<%- include('header') -%>
<body>

    <h1 class="box" id="heading"><%= kindOfDay %> </h1>
    <div class="box">
        <% for(i=0; i<itemList.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p class="item"> <%= itemList[i] %> </p>
            </div>
        <% } %>
        <form method="post" action="/" class="" >
            <input type="text" name="item1" placeholder="New Item"> 
            <button type="submit" name="submit" >+</button>
        </form>
    </div>
    
    
</body>
<%- include('footer') -%>
